<h1><%=h @lemma.title %></h1>
 
<%=simple_format @lemma.body %>
 
<% unless @lemma.contains?(current_user) %>
  <% form_for [@lemma,Coauthor.new] do |f| %>
    <%= f.submit "申请成为此词条的共同创作者" %>
  <% end %>
<% end %>
<hr />
<p>
<%= link_to @lemma.tag_list.to_s, { :controller => 'tag', :action => 'show', :id => @tag_name }%></p>


<p>
  <span style="font-weight: bold"> 共同创作者:</span><br/>
  <% @lemma.coauthors.each do |coauthor| %>
    <%= coauthor.user.login if coauthor.active? %>
  <% end %>
</p>
   

 
<% if @lemma.contains?(current_user) %>
  <%= link_to '编辑该词条', [:edit,@lemma] %>
<% end %>
<%= link_to '回到首页 ', lemmas_path %>